{% import "r3ply.html" as r3ply %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default(value=section.title | default(value=config.title)) }}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
    {% if page %}
    {{ page.content | safe }}
    {% elif section %}
    {{ section.content | safe }}
    {% else %}
    {{ throw(message="TODO") }}
    {% endif %}
  </main>
  <section id="comments" class="p-2">
    {% block comments %}
    {% block choose_comments %}
      {% set comments = get_section(path="comments/_index.md") | get(key="pages") %}
    {% endblock choose_comments %}
    {% block render_comments %}
      {{ r3ply::render_comments_sorted_by_activity(comments=comments) }}
    {% endblock render_comments %}
    {% endblock comments %}
  </section>
</body>
</html>