{% import "r3ply/util.html" as util %}

{% macro write_thread(parent, comments) %}
{% set children = comments | filter(attribute="taxonomies.replies.1", value=parent.slug) | sort(attribute="extra.latest_activity") | reverse %}
<details open class="w-xl">
  <summary class="border-b">
    <span class="inline-flex gap-2">
      <span class="text-red-400"><span class="text-gray-600">#</span>{{ parent.slug }}</span>
      <span>|</span>
      <time datetime="{{ parent.date }}" class="text-blue-400">
        <span class="text-yellow-500">{{ parent.date | date(format="%Y-%m-%d") }}</span>
        <span>{{ parent.date | date(format="%H:%M") }}</span>
      </time>
    </span>
  </summary>
  <article class="my-2">
  {{ parent.content | safe }}
  </article>
  {% set subject = "/" ~ parent.taxonomies.subjects[0] ~ "/#" ~ parent.slug %}
  <div class="m-2">
    <a class="px-2 py-1 rounded-xl border text-purple-400"
    href="{{ util::mailto(to=config.extra.domain | default(value='CHANGE_ME'),
    subject=subject,
    body='') }}">reply</a>
  </div>
  <div class="ml-4 pt-2">
    {% for child in children %}
      {# Note: see comment in theme template for why this is `comments::` instead of `self::` #}
      {{ comments::write_thread(parent=child, comments=comments) }}
    {% endfor %}
  </div>
</details>
{% endmacro  %}